<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor patch:instead="*[@type='Sitecore.Pipelines.PreprocessRequest.SuppressFormValidation, Sitecore.Kernel']"
                   type="Shared.SC.Feature.Login.Pipelines.PreprocessRequest.SuppressADFSFormValidation, Shared.SC.Feature.Login" />
      </preprocessRequest>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']"
                   type="Shared.SC.Feature.Login.Pipelines.HttpRequest.AuthenticationChecker, Shared.SC.Feature.Login" />
      </httpRequestBegin>
      <doLogin help="Processors should implement Shared.SC.Feature.Login.Pipelines.DoLogin.ILoginProcessor">
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.GetPrincipal, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.GetValidRoles, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.LoginVirtualUser, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.FillVirtualUserProfile, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.AnalyticsTracking, Shared.SC.Feature.Login" reusable="false"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogin.RedirectToPostLogin, Shared.SC.Feature.Login" reusable="false"/>
      </doLogin>
      <doLogout help="Processors should implement Shared.SC.Feature.Login.Pipelines.DoLogout.ILogoutProcessor">
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogout.LogoutSitecore, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogout.GetOwinAuthProperties, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogout.KillSession, Shared.SC.Feature.Login"/>
        <processor type="Shared.SC.Feature.Login.Pipelines.DoLogout.LogoutOwin, Shared.SC.Feature.Login"/>
      </doLogout>
      <authenticationCheck help="Processors should implement Shared.SC.Feature.Login.Pipelines.AuthenticationCheck.IAuthenticationCheckProcessor">
        <processor type="Shared.SC.Feature.Login.Pipelines.AuthenticationCheck.AreUsersEqual, Shared.SC.Feature.Login"/>
      </authenticationCheck>
    </pipelines>
    <authentication>
      <patch:attribute name="defaultProvider">federated</patch:attribute>
      <providers>
        <add name="federated" type="Shared.SC.Feature.Login.Identity.ClaimAuthenticationProvider, Shared.SC.Feature.Login"/>
      </providers>
    </authentication>
    <scheduling>
      <agent type="Shared.SC.Feature.Login.Agents.AuthSessionCleanupAgent, Shared.SC.Feature.Login" method="Run" interval="00:15:00"/>
    </scheduling>
  </sitecore>
</configuration>
